.debug .ms_header-box {
    border: 1px solid red;
    
}
.debug .ms_border {
    border: 1px solid black;
}
.debug #portfolio .ms_border {
    height: 50px;
}
.debug .ms_message {
    height: 50px;
}


/*ROOT*/
:root {
    --ms_ColorGreen: #1abc9c;
    --ms_ColorDarkGray: #2c3e50;
}
.ms_text-dark { color: var(--ms_ColorDarkGray); }
.ms_bg-dark { background-color: var(--ms_ColorDarkGray); }

header {
    height: 70px;
}
#navbar {
    background-color: var(--ms_ColorDarkGray);
}
main {
    margin-top: 70px;
}
.ms_design-row {
    width: 100px;
    height: 3px;
    display: inline-block;
}
#hero {
    background-color: var(--ms_ColorGreen);
}
#portfolio .row .ms_section-title {
    color: var(--ms_ColorDarkGray);
}
#about {
    background-color: var(--ms_ColorGreen);
}
#ms_footer-top {
    background-color: var(--ms_ColorDarkGray);
    height: 150px;
    width: 100%;
}
#ms_footer-bottom {
    height: 40px;
    background-color: var(--ms_ColorDarkGray);
}
