.debug .ms_header-box {
    border: 1px solid red;
    
}
.debug .ms_border {
    border: 1px solid black;
}
.debug #portfolio .ms_border {
    height: 50px;
}
.debug .ms_message {
    height: 50px;
}


/*ROOT*/
:root {
    --ms_ColorGreen: #1abc9c;
    --ms_ColorDarkGray: #2c3e50;
}
.ms_text-dark { color: var(--ms_ColorDarkGray); }
.ms_bg-dark { background-color: var(--ms_ColorDarkGray); }
.ms_text-green { color: var(--ms_ColorGreen); }



#navbar {
    background-color: var(--ms_ColorDarkGray);
}
.nav-item .nav-link {
    color: white;
}
.nav-item:hover .nav-link {
    color: var(--ms_ColorGreen);
}
main {
    margin-top: 70px;
}
.ms_design-row {
    width: 100px;
    height: 3px;
    display: inline-block;
}
#hero {
    background-color: var(--ms_ColorGreen);
}
#portfolio .row .ms_section-title {
    color: var(--ms_ColorDarkGray);
}

.image {
    position: relative;
}
.image:hover .overlay {
    display: flex;
}
.image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 188, 156, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}
.overlay i {
    color: white;
    font-size: 90px;
}

#about {
    background-color: var(--ms_ColorGreen);
}
.ms_border-input {
    border: 0 0 1px 0;
}
.ms_form-text input, .ms_form-text textarea {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    padding-left: 0;
}
#message {
    height: 100px;
}
#contact form button {
    background-color: var(--ms_ColorGreen);
    border: 0;
}
.ms_radius {
    width: 40px;
    height: 40px;
    line-height: 38px;
    border-radius: 50%;
}
#ms_footer-top {
    background-color: var(--ms_ColorDarkGray);
    width: 100%;
}
#ms_footer-bottom {
    background-color: var(--ms_ColorDarkGray);
    width: 100%;
}
